@import url("https://fonts.googleapis.com/css2?family=Amarante&family=BhuTuka+Expanded+One&family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Orbitron:wght@400..900&family=Vidaloka&display=swap");

body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  left: 0;
  right: 0;
  padding: 15px 80px 15px 80px;
  z-index: 2;
  background-color: transparent; /* Fondo transparente por defecto */
  transition: background-color 0.4s ease; /* Transición suave de 0.5 segundos */
}

.header_left {
  display: flex;
}

.header_title {
  text-decoration: none;
  font-family: "Bona Nova", serif;
  letter-spacing: 8px;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.header_content {
  display: flex;
}

.header_list {
  display: flex;
  list-style: none;
  margin: 0 auto;
  align-items: center;
}

.header_list li {
  padding: 6px;
  margin-right: 40px;
  font-size: small;
  position: relative;
  transition: transform 0.3s ease;
}

.header_list li a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: #000;
  position: relative;
}

.header_list li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: blueviolet;
  border-radius: 8px;
  transition: width 0.3s ease;
}

.header_list li:hover::after {
  width: 100%;
}

.header_list li:hover {
  transform: scale(1.2);
}

.search {
  position: relative;
  display: flex;
  align-items: center;
}

.search input {
  background: transparent;
  background-color: #d3d3d373;
  padding: 8px 15px 8px 15px;
  outline: none;
  border: none;
  border-radius: 7.5px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
}

.user {
  margin-left: auto;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input::placeholder {
  font-size: 1em;
}

.search_bx2 {
  position: absolute;
  width: 200px;
  height: 300px;
  top: 35px;
  left: -10px;
  background: rgba(184, 184, 184, 0.3);
  border-radius: 10px;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s linear;
}

.search i {
  color: rgba(92, 92, 92, 0.7);
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s linear;
  margin-right: 70px;
}

.search i:hover {
  color: #0f0f0f;
}

.search .search_bx2 {
  width: 200px;
  height: 300px;
  top: 50px;
  left: -10px;
  background: rgb(184, 184, 184, 0.3);
  border-radius: 10px;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s linear;
  backdrop-filter: blur(15px);
}

.search .search_bx2::-webkit-scrollbar {
  width: 7px;
  background: rgb(184, 184, 184, 0.3);
  border-radius: 20px;
}

.search .search_bx2::-webkit-scrollbar-thumb {
  background: rgb(184, 184, 184, 0.7);
  border-radius: 20px;
}

.search .search_bx2 a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  transition: 0.3s linear;
}

.search .search_bx2 a:hover {
  background: rgba(0, 0, 0, 0.6);
}

.search .search_bx2 a img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin: 0px 10px;
}

.search .search_bx2 a .content2 {
  color: #fff;
}

.search .search_bx2 a .content2 h6 {
  font-size: 0.9em;
  color: #3b3b3b;
  transition: color;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.dropdown_menu {
  position: fixed;
  top: 100%;
  width: 90vh;
  padding: 30px 0;
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.3s ease;
  display: flex;
  justify-content: space-around; 
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px); 
}

.dropdown_menu .column {
  margin-top: 0;
}

.dropdown_menu .column2 a {
  margin-bottom: 5px;
}

.column h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 0;
  font-size: 1em;
  padding-right: 7rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid rgb(12, 12, 12);
}

.dropdown_menu a {
  text-decoration: none;
  color: #000;
  display: block;
  margin-bottom: 10px;
}

.dropdown_menu a:hover {
  color: #6a6a6a;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3; /* Ajusta el índice Z según sea necesario */
}

.fixed .dropdown_menu {
  top: 30px; /* Ajusta la posición del menú desplegable según sea necesario */
}

.scrolled {
  background-color: white; /* Cambia el fondo del encabezado a blanco */
} 

/* */

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
}

.content1 {
  width: 40%;
  height: 100vh;
  display: block;
}

.content1 .card0 {
  display: flex;
  height: 10vh;
}

.content1 .card1 {
  height: 35vh;
  justify-content: center;
  align-items: center;
}

.content1 .card1 .videoContent {
  display: flex;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
}

.content1 .card1 .videoContent .subVideo {
  display: block;
}

.content1 .card1 .videoContent .subVideo h3,
.content1 .card1 .videoContent .subVideo p {
  margin: 0 5px 0 25px;
}

.content1 .card1 .videoContent .subVideo h3 {
  font-size: larger;
}

.content1 .card1 .videoContent .subVideo p {
  font-size: smaller;
}

.content1 .card1 .videoImage {
  width: 250px;
  height: 140px;
  margin-left: 80px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px; /* Redondear los bordes */
}

.content1 .card2 {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content1 .card2 h1 {
  display: flex;
  font-family: "Amarante", serif;
  width: 100%;
  height: 100%;
  padding: 0 0 0 80px;
  font-size: 150px;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
}

@media screen and (min-width: 1285px) {
  .content1 .card2 h1 {
    font-size: 230px; /* Cambiar el tamaño del texto en pantallas más grandes */
  }
}

.content1 .card3 {
  display: flex;
  height: 15vh;
  justify-content: start;
  align-items: center;
  padding-left: 80px;
}

.content1 .card3 button {
  display: flex;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-right: 30px;
  transition: transform 0.3s ease,background-color 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: white;
  font-size: medium;
}

.content1 .card3 button:hover {
  transform: scale(1.5);
}

.content2 {
  width: 35%;
}

.content2 {
  width: 35%;
  position: relative;
  z-index: 1;
}

.content2 img {
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: opacity 1s ease-in-out; 
}

.content3 {
  background-color: lig;
  width: 25%;
  height: 100vh;

  display: block;
}

.content3 .card0 {
  display: flex;
  height: 10vh;
}

.content3 .card1 {
  display: flex;
  height: 45vh;
}

.carousel-container {
  position: relative;
  width: 280px;
  overflow: hidden;
  margin: 80px -30px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.card {
  min-width: 240px;
  min-height: 80px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-content-img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-content-img img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  height: 80px;
}

.card-content {
  display: block;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.card-content h3 {
  margin: 0;
  font-size: 20px;
}

.card-content p {
  margin: 0;
  font-size: 12px;
  color: #555;
  padding-bottom: 20px;
}

.card-content-colors .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.circle.purple {
  background-color: purple;
}
.circle.green {
  background-color: green;
}
.circle.red {
  background-color: red;
}

.card button {
  width: 30px;
  height: 30px;
  background-color: #fafafa;
  border: 1px solid #000;
  color: black;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 90px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card button:hover {
  background-color: #333333;
  color: white;
}

.content3 .card2 {
  display: flex;
  height: 45vh;
  justify-content: center;
  align-items: center;
}

.card2 .imgz {
  width: 270px;
  height: 170px;
  transition: opacity 0.5s ease;
}


/* FOOTER */
footer {
  background-color: #151515;
  color: #ffffff;
  padding: 80px 0 0 0;
}

.footer1 {
  background-color: #151515;
  color: #000;
  padding: 0 50px;
  display: block;
  border-bottom: solid #505050 1px;
}

.footer-alto {
  display: flex;
  color: white;
  padding-bottom: 100px;
  background-color: #151515;
}

.footer-logo {
  width: 75%;
}

.footer-logo h1 {
  letter-spacing: 10px;
  cursor: pointer;
  transition: color 0.5s ease;
}

.footer-logo h1:hover {
  color: rgb(253, 214, 162);
}

.footer-contact {
  width: 25%;
}

.footer-contact p {
  width: 80%;
}

.footer-contact input {
  width: 80%;
  padding: 25px;
  outline: none;
  background-color: #151515;
  color: #ddd;
  border: 2px solid rgb(116, 116, 116); /* Borde dorado */
  transition: border-color 0.3s; /* Transición suave del color del borde */
}

.footer-contact input:focus {
  border-color: rgb(219, 219, 219);
}

.footer-bajo {
  display: flex;
  padding-bottom: 90px;
}

.footer-bajo > * {
  flex-grow: 1;
  flex-basis: 0;
}

.footer-list {
  background-color: #151515;
  margin-right: 10px;
  padding-top: 30px;
  border-top: #ffffff solid 2px;
  color: white;
}

.footer-list h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.footer-list a {
  display: block;
  color: rgb(107, 107, 107);
  font-family: sans-serif;
  font-size: 0.85rem;
  margin-bottom: 8px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-list a:hover {
  color: white;
}

.footer-reclamaciones {
  display: flex;
  align-items: center;
}

.footer-reclamaciones img {
  cursor: pointer;
  width: 5em;
  height: auto;
}

.footer-reclamaciones a {
  margin-left: 1em;
}

.line-break {
  display: block;
}

.footer-social {
  padding-bottom: 90px;
  border-bottom: #3b3b3b solid 2px;
}

.footer-social i {
  cursor: pointer;
  font-size: 1.5em;
  padding-right: 10px;
  transition: color 0.5s ease;
}

.footer-social i:hover {
  color: #555;
}

.footer-train {
  padding-top: 30px;
  display: flex;
}

.footer-train img {
  cursor: pointer;
  width: 2.8em;
  height: auto;
  border: #efb810 2px solid;
  border-radius: 15px;
}

.footer-train h3 {
  margin-left: 1em;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.footer-train h3:hover {
  color: rgb(253, 214, 162);
}

.footer-train h3::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, transparent 0%, #efb810 100%);
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s ease;
}

.footer-train h3:hover::after {
  background-size: 100% 9px;
}

.footer2 {
  padding: 2px;
  text-align: center;
}

.footer2 p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.8em;
}


